// =============================================================================
// GRID (CSS)
// =============================================================================


.container {
    margin-left: auto;
    margin-right: auto;
    max-width: layout("max") + ($container-padding * 4);
    padding: 0 $container-padding;
    position: relative;
    width: layout("fixed");

    @include breakpoint("large") {
        padding: 0 ($container-padding * 4);
    }
}

.container-main-page {
    @media screen and (min-width: 801px) {
        width: 1100px;
        margin: 0 auto;
        background: none repeat scroll 0 0 #fff;
        border: 0 solid #d8d8d8;
    }
}

body {
    // @media screen and (min-width: 801px) {
    //     background: url("https://cdn6.bigcommerce.com/s-0c81hg/product_images/uploaded_images/honeycombpattern.png?t=1500319912&_ga=2.256742863.535207059.1500302543-384297285.1492612894") repeat scroll center top #fff !important;
    // }
}

#main-content {
    margin-bottom: 0px;
}

// Doing all my scss changes in here for now

.subcategory-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
}

.subcategory-header-image {
    height: 100%;
    width: 100%;
}

.subcategory-container {
    height: 150px;

}
.subcategory-label {
    position: relative;
    background: black;
    bottom: 30px;
    color: white;
    text-align: center;
    padding: 5px;
}

// Button styling

.add-to-cart-button {

    background-color: #e69138;
    outline-color: #e69138;
    border: 1px #fff dashed;
    color: #fff;
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 0 5px #e69138;
    &:hover {
        background-color: lightgrey;
        box-shadow: 0 0 0 5px lightgrey;
    }
}

.not-online-box {
    background: grey;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 10px;
    &:hover{
        background: grey;
        color:white;
        cursor:default;
    }
}

.quickview-button {
    height: 80px;
    width: 80px;
    background: grey;
    border-radius: 100%;
    box-shadow: 0 0 0 5px grey;
    border: dashed 1px white;
    color: white;
    &:hover {
        background: lightgrey;
        box-shadow: 0 0 0 5px lightgrey;
    }
}

.banners {
    @media (min-width: 801px) {
        margin: auto;
        width: 1100px;
        background-color: #fff;
    }
}
.hide-on-desktop {
    @media (min-width: 801px) {
        display: none
    }
}

.hide-on-mobile {
    @media (max-width: 800px) {
        display: none
    }
}

.card-product-info {
    height:100px;
}